html {
  background-color: #dbdacd;
}

body {
  background-color: #dbdacd;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.character-0 {
  color : #a5559f;
}

.character-1 {
  color : #332233;
}

.character-2 {
  color : #999999;
}

.character-3 {
  color : #777777;
}
